<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <th:block th:if="${#request.remoteUser}">
                    <li><a th:href="@{/security/logoff}">Sign out</a></li>
                    <li><a th:href="@{/order/list}">Your order</a></li>
                    <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                        <a th:href="@{/admin/home/index}">Administration</a>
                    </li>
                </th:block>
                <th:block th:unless="${#request.remoteUser}">
                    <li ><a th:href="@{/security/login/form}">Sign in</a></li>
                </th:block>  
            </ul>
            <div class="navbar-nav navbar-right">
                <ul th:if="${#request.remoteUser}" >
                    <li><a href="#">Welcome [[${#request.remoteUser}]]</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>